#TB_closeWindowButton{
  background: transparent !important;
}
#TB_closeWindowButton:hover{
  background: transparent !important;
}
/*images*/
#buddypress .bpfb_images br{
  display: none;
}
#buddypress .bpfb_images{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#buddypress .bpfb_images a{
  width: 50%;
  height: 234px;
  overflow: hidden;
  margin: 0px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #fff;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#buddypress .mx-attach_item_activity .bpfb_images.mx_count_images-1{
  width: 100%;
}
#buddypress .bpfb_images.mx_count_images-1 a{
  width: 100%;
  height: auto;
}
#buddypress .bpfb_images.mx_count_images-1 a img{
  width: 100%;
}
#buddypress .bpfb_images.mx_count_images-3 a:last-child,
#buddypress .bpfb_images.mx_count_images-5 a:last-child,
#buddypress .bpfb_images.mx_count_images-7 a:last-child{
  height: 400px;
  width: 100%;
}
#buddypress .bpfb_images.mx_count_images-3 a:last-child img,
#buddypress .bpfb_images.mx_count_images-5 a:last-child img{
  width: 100%;
}
#buddypress .bpfb_images a img{
  max-width: 140%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
#buddypress .mx_count_images-10 a{
  width: 25%;
  height: 146px;
}
#buddypress .mx_count_images-10 a.bpfb_image_wrap-9,
#buddypress .mx_count_images-10 a.bpfb_image_wrap-10{
  width: 50%;
  height: 250px;
}
#buddypress .mx_count_images-10 a.bpfb_image_wrap-9 img,
#buddypress .mx_count_images-10 a.bpfb_image_wrap-10 img{
  width: 124%;
}
#buddypress .mx_count_images-10 a img{
  max-width: 175%;
}
#buddypress .mx_count_images-9 a{
  width: 33%;
  height: 155px;
}
#buddypress .mx_count_images-9 a img{
  max-width: 140%;
}
#buddypress .bpfb_images.mx_count_images-8 a,
#buddypress .bpfb_images.mx_count_images-6 a,
#buddypress .bpfb_images.mx_count_images-5 a,
#buddypress .bpfb_images.mx_count_images-4 a,
#buddypress .bpfb_images.mx_count_images-3 a,
#buddypress .bpfb_images.mx_count_images-2 a{
  height: 200px;
}
#buddypress .bpfb_images.mx_count_images-7 a.bpfb_image_wrap-7 img{
  width: 100%;
}
#buddypress .mx_count_images-3 a img{
  max-width: 175%;
  width: 100%;
}
#buddypress .mx_count_images-2.bpfb_images a img{
  width: 100%;
}
#buddypress .bpfb_images.mx_count_images-1 a img{
  width: auto;
}

/*video*/
#buddypress .activity-inner iframe{
  width: 100%;
  height: 400px;
}

/*links*/
#buddypress .bpfb_final_link .bpfb_link_preview_container{
  width: 28%;
  height: auto;
  overflow: hidden;
  float: left;
}
#buddypress .bpfb_final_link .bpfb_link_contents{
  width: 70%;
  float: left;
  margin-left: 10px;
}
.bpfb_link_preview_title {
  font-weight: bold;
  font-size: 1.1em;
}
.bpfb_link_preview_url {
  color: #666;
  font-size: .8em;
}

/*styling thickbox*/
#TB_closeWindow{
  position: absolute;
  top: -14px;
  right: -20px;
}
#TB_next{
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 0;
  height: 140px;
  width: 100px;
  margin-top: -80px;
}
#TB_next a,
#TB_prev a{
  padding: 20px;
  height: 100%;
  display: block;
}
#TB_prev a:before{
  font-family: 'FontAwesome';
  font-size: 20px;
  content: "\f053";
  color: #c0b6b6;
  position: absolute;
  left: 17px;
  top: 54px;
}
#TB_prev a:hover:before{
  color: #333;
}
#TB_next a:before{
  content: "\f054";
  font-family: 'FontAwesome';
  font-size: 20px;
  color: #c0b6b6;
  right: 17px;
  position: absolute;
  top: 54px;
}
#TB_next a:hover:before{
  color: #333;
}
#TB_prev{
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 0;
  height: 140px;
  width: 100px;
  margin-top: -80px;
}
#TB_closeWindowButton:hover .tb-close-icon,
#TB_closeWindowButton:focus .tb-close-icon{
  outline: none;
  color: #823066;
}
.single-photo_gallery #menu-item-237 a{
  background-color: #823066;
}
#TB_overlay{
  opacity: 0.9 !important;
}
#TB_window{
  background: transparent !important;
}
#TB_window img#TB_Image{
  margin: 0px auto;
  border: none !important;
}
#TB_caption{
  padding: 0;
  height: 0;
}
#TB_secondLine{
  font-size: 0;
}
#TB_prev{
  position: absolute;
  top: 0;
  left: -40px;
  font-size: 0;
  height: 100%;
  width: 53%;
  margin-top: 0;
}
#TB_next{
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 0;
  height: 100%;
  width: 53%;
  margin-top: 0;
}
#TB_next a:before{
  top: 50%;
  margin-top: -20px;
  color: #fff;
  opacity: 0.7;
}
#TB_prev a:before{
  top: 50%;
  margin-top: -20px;
  color: #fff;
  opacity: 0.7;
}
#TB_prev a:hover:before,
#TB_next a:hover:before{
  opacity: 1;
  color: #fff;
}
#TB_closeWindowButton .tb-close-icon,
#TB_closeWindowButton .tb-close-icon{
  color: #fff;
  opacity: 0.7;
}
#TB_closeWindowButton:hover .tb-close-icon,
#TB_closeWindowButton:focus .tb-close-icon{
  color: #fff;
  opacity: 1;
}
#TB_closeWindowButton:focus .tb-close-icon{
  -webkit-box-shadow: none;
  box-shadow: none;
}
#TB_closeWindow{
  top: -14px;
  right: -20px;
}

/* media */
@media only screen and (max-width: 1100px){
  #buddypress .mx_count_images-10 a{
    height: 115px;
  }
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-9,
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-10{
    width: 50%;
    height: 200px;
  }
  #buddypress .mx_count_images-9 a img{
    max-width: 150%;
  }
  #buddypress .mx_count_images-4 a img{
    max-width: 172%;
  }
}
@media only screen and (max-width: 992px){
  #buddypress .mx_count_images-9 a{
    width: 33%;
    height: 130px
  }
  #buddypress .mx_count_images-9 a img{
    max-width: 140%;
  }
  #buddypress .mx_count_images-10 a img{
    max-width: 134%;
  }
  #buddypress .bpfb_images.mx_count_images-7 a,
  #buddypress .bpfb_images.mx_count_images-6 a,
  #buddypress .bpfb_images.mx_count_images-5 a,
  #buddypress .bpfb_images.mx_count_images-4 a,
  #buddypress .bpfb_images.mx_count_images-3 a{
    height: 180px;
  }
  #buddypress .bpfb_images.mx_count_images-3 a.bpfb_image_wrap-3,
  #buddypress .bpfb_images.mx_count_images-5 a.bpfb_image_wrap-5,
  #buddypress .bpfb_images.mx_count_images-7 a.bpfb_image_wrap-7{
    height: 300px;
  }
  #buddypress .bpfb_images.mx_count_images-1 a img{
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px){
  #buddypress .mx_count_images-10 a img{
    max-width: 205%;
  }
  #buddypress .bpfb_images.mx_count_images-8 a{
    height: 130px;
  }
  #buddypress .bpfb_images.mx_count_images-8 a,
  #buddypress .bpfb_images.mx_count_images-7 a,
  #buddypress .bpfb_images.mx_count_images-6 a,
  #buddypress .bpfb_images.mx_count_images-5 a,
  #buddypress .bpfb_images.mx_count_images-4 a,
  #buddypress .bpfb_images.mx_count_images-3 a,
  #buddypress .bpfb_images.mx_count_images-2 a{
    height: 150px;
  }
  #buddypress .mx_count_images-9 a{
    height: 100px;
  }
  #buddypress .mx_count_images-9 a img{
    max-width: 130%;
  }
  #buddypress .mx_count_images-4 a{
    height: 170px;
  }
  #buddypress .bpfb_images.mx_count_images-3 a.bpfb_image_wrap-3,
  #buddypress .bpfb_images.mx_count_images-5 a.bpfb_image_wrap-5,
  #buddypress .bpfb_images.mx_count_images-7 a.bpfb_image_wrap-7{
    height: 230px;
  }

  /*video*/
  #buddypress .activity-inner iframe{
    height: 340px;
  }

  /*links*/
  #buddypress .bpfb_final_link{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #buddypress .bpfb_final_link .bpfb_link_preview_container{
    width: 100%;
    order: 2;
  }
  #buddypress .bpfb_final_link .bpfb_link_preview_container a{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
  #buddypress .bpfb_final_link .bpfb_link_contents{
    width: 100%;
    order: 1;
    margin: 0;
  }
  #buddypress .bpfb_final_link .bpfb_link_preview_container img{
    width: auto !important;
    height: auto;
    align-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}
@media only screen and (max-width: 600px){
  #buddypress .mx_count_images-10 a{
    width: 25%;
    height: 75px;
  }
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-9,
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-10{
    width: 50%;
    height: 150px;
  }
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-9 img,
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-10 img{
    width: 100%;
  }
  #buddypress .mx_count_images-10 a img{
    max-width: 220%;
  }
  #buddypress .mx_count_images-9 a img{
    max-width: 180%;
  }
  #buddypress .bpfb_images.mx_count_images-5 a.bpfb_image_wrap-5,
  #buddypress .bpfb_images.mx_count_images-7 a.bpfb_image_wrap-7{
    height: 165px;
  }
  #buddypress .bpfb_images.mx_count_images-3 a.bpfb_image_wrap-3 img, 
  #buddypress .bpfb_images.mx_count_images-5 a.bpfb_image_wrap-5 img,
  #buddypress .bpfb_images.mx_count_images-7 a.bpfb_image_wrap-7 img{
    width: auto;
  }
  #buddypress .mx_count_images-9 a{
    width: 50%;
    height: 95px;
  }
  #buddypress .mx_count_images-9 a.bpfb_image_wrap-9{
    width: 100%;
    height: 200px;
  }
  #buddypress .mx_count_images-9 a img{
    max-width: 106%;
  }
  #buddypress .bpfb_images.mx_count_images-8 a,
  #buddypress .bpfb_images.mx_count_images-7 a,
  #buddypress .bpfb_images.mx_count_images-6 a,
  #buddypress .bpfb_images.mx_count_images-5 a,
  #buddypress .bpfb_images.mx_count_images-4 a,
  #buddypress .bpfb_images.mx_count_images-3 a,
  #buddypress .bpfb_images.mx_count_images-2 a{
    height: 120px;
  }
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-9,
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-10{
    width: 50%;
    height: 120px;
  }

  /*video*/
  #buddypress .activity-inner iframe{
    height: 250px;
  }
}
@media only screen and (max-width: 500px){
  #buddypress .mx_count_images-9 a img{
    max-width: 140%;
  }
  #buddypress .bpfb_images.mx_count_images-8 a,
  #buddypress .bpfb_images.mx_count_images-7 a,
  #buddypress .bpfb_images.mx_count_images-6 a,
  #buddypress .bpfb_images.mx_count_images-5 a,
  #buddypress .bpfb_images.mx_count_images-4 a,
  #buddypress .bpfb_images.mx_count_images-3 a,
  #buddypress .bpfb_images.mx_count_images-2 a{
    height: 90px;
  }
  #buddypress .bpfb_images.mx_count_images-9 a.bpfb_image_wrap-9,
  #buddypress .bpfb_images.mx_count_images-5 a.bpfb_image_wrap-5,
  #buddypress .bpfb_images.mx_count_images-7 a.bpfb_image_wrap-7{
    height: 130px;
  }
}
@media only screen and (max-width: 400px){
  #buddypress .mx_count_images-10 a img{
    max-width: 160%;
  }
  #buddypress .mx_count_images-10 a,
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-9{
    width: 33%;
    height: 60px;
  }
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-10{
    width: 100%;
    height: 115px;
  }
  #buddypress .mx_count_images-10 a.bpfb_image_wrap-9 img{
    width: 150%;
  }  
  #buddypress .bpfb_images.mx_count_images-9 a,
  #buddypress .bpfb_images.mx_count_images-8 a,
  #buddypress .bpfb_images.mx_count_images-7 a,
  #buddypress .bpfb_images.mx_count_images-6 a,
  #buddypress .bpfb_images.mx_count_images-5 a,
  #buddypress .bpfb_images.mx_count_images-4 a,
  #buddypress .bpfb_images.mx_count_images-3 a,
  #buddypress .bpfb_images.mx_count_images-2 a{
    height: 75px;
  }
  #buddypress .bpfb_images.mx_count_images-3 a.bpfb_image_wrap-3{
    height: 140px;
  }
  #buddypress .bpfb_images.mx_count_images-9 a.bpfb_image_wrap-9,
  #buddypress .bpfb_images.mx_count_images-3 a.bpfb_image_wrap-3,
  #buddypress .bpfb_images.mx_count_images-5 a.bpfb_image_wrap-5{
    height: 115px;
  }

  /*video*/
  #buddypress .activity-inner iframe{
    height: 156px;
  }
}